.wrapper {
    padding: 2rem 3%;
}

.bx--form-item {
    margin-bottom: 2rem;
    font-family: "ibm-plex-sans", Helvetica Neue, Arial, sans-serif;
    font-size: 0.875rem;
    display: block;
    width: 100%;
    height: 2.5rem;
    min-width: 18.75rem;
    padding: 0 1rem;
    color: #00ffffff;
    background-color: #ffffff;
    border: none;
    box-shadow: 0 1px 0 0 #5a6872;
    -webkit-box-ordinal-group: 3;
    order: 2;
    border-bottom: 1px solid transparent;
}

bx--btn--danger--primary {
    background-color: #e0182d;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    color: #fff;
}
